In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('input09.txt', header=None)
moves = df[0].str.split(expand=True)
moves

      0   1
0     R   1
1     D   1
2     U   1
3     R   2
4     L   2
...  ..  ..
1995  U   2
1996  D   6
1997  L  14
1998  D  14
1999  R  12

[2000 rows x 2 columns]

#### convert series from string to values

In [4]:
moves[1] = moves[1].astype(int)

In [5]:
signed = []

In [6]:
for rowIdx, row in moves.iterrows():
    way, mag = row[0], row[1]  # direction (way) & (mag)nitude
    if way == 'L' or way == 'D':
        signed.append(-1 * mag)
    else:
        signed.append(mag)

In [7]:
moves['signed'] = signed
moves

      0   1  signed
0     R   1       1
1     D   1      -1
2     U   1       1
3     R   2       2
4     L   2      -2
...  ..  ..     ...
1995  U   2       2
1996  D   6      -6
1997  L  14     -14
1998  D  14     -14
1999  R  12      12

[2000 rows x 3 columns]

#### calc max left & right

In [8]:
pos = 0
endpoints = [pos]
for rowIdx, row in moves.iterrows():
    if row[0] in ['U', 'D']:
        continue
    pos += row.signed
    endpoints.append(pos)

In [9]:
left = min(endpoints)
right = max(endpoints)
left, right

(-179, 3)

In [10]:
print(f'width is {right - left + 1}')

width is 183

#### calc max up & down

In [11]:
pos = 0
endpoints = [pos]
for rowIdx, row in moves.iterrows():
    if row[0] in ['L', 'R']:
        continue
    pos += row.signed
    endpoints.append(pos)

In [12]:
up = max(endpoints)
down = min(endpoints)
up, down

(93, -142)

In [13]:
print(f'height is {up - down + 1}')

height is 236